<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=aspnet-Jan2018DemoWebsite-20180117063429;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
      connectionString=".;Initial Catalog=Chinook; Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>