<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Jan2018DemoWebsite-20180117063429.mdf;Initial Catalog=aspnet-Jan2018DemoWebsite-20180117063429;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="StarTedDb"
      connectionString=".;Initial Catalog=Chinook; Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>