<!--<connectionStrings>
  <add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>-->


<connectionStrings> <!--work-->
  <add name="ChinookDB" connectionString="Data Source=DESKTOP-IMH8G8I\SQL;Initial Catalog=Chinook;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>